.navbar {
    position: fixed;
    height: 95px;
    width: 100%;
    background-color: #fff;
    padding: 0 20px;
}

.navbar h1 {
    color: #f51997;
    font-size: 35px;
    font-family: 'Share Tech Mono', sans-serif;
}